footer {
  background-color: #d67b21; /* Orange color */
  color: white;
  padding: 40px 0; /* Vertical padding */
  width: 100%;
 
 margin: 0 auto;
  height: 350px;


}
.footer-section {
  margin-bottom: 75px; /* Space between sections */

}
footer a{
  color: aliceblue;
  text-decoration: none;
  
}
.footer-section h5 {
  font-weight: bold;
  margin-bottom: 20px; /* Space below section title */
}
.footer-section p {
  margin: 5px 0; /* Space between links */
}
.social-icons {
  display: flex;
  align-items: center; /* Center vertically */
  padding-left: 50px; /* Set left padding to 0 for alignment with title */
}
.social-icons a {
  text-decoration: none;
  width: 50px;
  color: white;
  height: 50px;
  border-radius: 50%; /* Circle shape */
  margin-right: 10px; /* Space between social icons */
  display: flex; /* Flexbox for center alignment */
  justify-content: center; /* Center icon */
  align-items: center; /* Center icon */
  text-decoration: none; /* Remove underline from links */
}